/*** You will not need this file until Unit 3 ***/
 .Image_1 {width: 2px; height: auto;} */
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    /*background-color: var(--bg-color);  see bottom of file for color variables */
/* background-color: rgb(66, 189, 66); */
/* background-image: url("./img/woodtable.png"); */
background-image: url("https://burst.shopifycdn.com/photos/wooden-table-texture.jpg?width=1850&format=pjpg&exif=1&iptc=1");
    /* Customize the default size, color, and font for text*/
    font-size: 17px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 20px;
}
 #catchphrase {height: 10px; text-decoration: none;}
/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/
/* .title {background-color: cadetblue; font-size:55px; font-family:fantasy; height: 60px;} */
.title {
  background-color: cadetblue; font-size:60px; font-family:fantasy; height: 60px;
  text-align: center;
  padding: 10px;
}
.flex-container {
  display: flex;
  justify-content:center;
  flex-direction: row;
  gap: 20px;
}
h1 {
    
    text-align: justify;
    justify-self: center;
}

h2 {
    color: #1E90FF
}

h3 {
    text-decoration: underline;
}

h4 {
    color:red;
}

p {
    background-color: darkkhaki;
    /* padding: 5px; */
    text-align: center;
    /* padding-block:initial;*/
    width: 70%;
    
}
.dark-mode p {
  background-color: peru;
  
}

a,
a * {
  text-decoration: none;
}
a:link {
    /* color: burlywood; */
    color: rebeccapurple;
}
a:visited {
    color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a:active {
  color:#e63946;
}
.link-section {
  /* background-color: darkkhaki; */
  text-align: center;
  
}
.darkmode_button {
  /* align-items: center; */
  /* border-radius: 5%; */
  background-color: #3e3377;
  align-self:center;
  /* margin-top: 5%; */
  
}

#theme-button {
  font-variant: small-caps;
  font-family: 'Franklin Gothic Medium';
 text-decoration: underline;
}

.section {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-self: center;
  width: 67%;
}

button {
    /* Example Style, replace with your own! */
    background-color: royalblue;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
    background-color: greenyellow;
    color: blue;
}
.image_style {
  width: 70%; height: 70%; 

}
/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container{ /* Example A: This styles elements with class="header" */
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.header-item:nth-of-type(1) {

}
.header-item:nth-of-type(2) {

}
#header-img {

}
.header-button {
  
}
/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    
}


/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [x] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    display: flex;
    align-items: end;
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-bottom: 50px; */
    background-color: darkcyan;
}

.navbar ul li {
    float: left;
    margin: 10px;
    
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: purple;
    /* background-color: black; */
}

.navbar ul li a:hover {
    background-color: #d2cff5;
    text-decoration:underline;
    color: #684fb5;
}
/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
#about {
  justify-self: center;
}

/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/



/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [x] Project 6 (REQUIRED FEATURE)
  - [x] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/
#rsvp {
  background-color: darkkhaki;
  padding: 3%;
}
.rsvp-container {
display: flex;
flex-direction: row;
gap: 20px;
width: 100%;
padding-bottom: 50px;

}

/* Add other rsvp-related selectors here */
.rsvp-para {
  font-family: fantasy;
  width: 55%;
  padding-bottom: 50px;
  color: #234231;
}
.rsvp-participants {
  width: 45%;
  padding-right: 10px;
}
.p-rsvp {
  text-align: left;
}

.error {
  border-style: solid;
  border-width: 2px;
border-color: red;
background-color: pink;
  /* Set border-color and background */
}


/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/

/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
#modal-text {

}
.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 55%;

    /* Customize modal style here */
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#modal-item {
    /* Optional: Style individual elements within the modal */

   
}
#modal-img {
    width: 30%;
    height: auto;
}

/* Default dark mode style */
.dark-mode {
background-color: #231942;
background-image: none;
color: #fff;
}

/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    background-color: #684fb5;
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {
  color: red;
}

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
